body {
    overflow-y: scroll;
    font-family: sans-serif
}

img,
main,
pre>code {
    display: block;
    margin: 25px auto
}

main {
    padding: 20px;
    max-width: 650px;
    line-height: 1.15;
    word-wrap: break-word
}

img {
    max-width: 80%
}

/*pre>code {
padding: 20px;
white-space: pre-wrap
}*/

    code {
        background: #eee;
        padding: 2px
    }

    hr {
        border: 2px solid #ddd
    }

    a {
        text-decoration: none
    }

    .card {
        border-left: 2px solid #ddd;
        padding-left: 5px;
        background-color: #eee
    }
